*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

.container {
  max-width: 1350px;
  margin: auto;
}

img {
  max-width: 100%;
}

p,
h1,
h2,
h3 {
  margin: 0;
}
