* {
  box-sizing: border-box;
  font-feature-settings: 'locl' 0;
}

body {
  font-family: 'Lato', sans-serif;
}

.container {
  max-width: 1350px;
  margin: auto;
}

img {
  max-width: 100%;
}

p,
h1,
h2,
h3 {
  margin: 0;
}
