$secondary-font-color: #ffffff;
$button-color: #1bbc9b;

.brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 78px 0 82px 0;
  min-height: 453px;
  background-image: url('img/main-backgroud.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  &__title {
    font-size: 55px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    color: $secondary-font-color;
  }
  &__subtitle {
    margin-top: 41px;
    max-width: 574px;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    color: $secondary-font-color;
  }
  &__button {
    margin-top: 46px;
    padding: 15px;
    min-width: 122px;
    min-height: 37px;
    font-size: 13px;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    line-height: normal;
    border: none;
    cursor: pointer;
    background-color: $button-color;
    color: $secondary-font-color;
    &:hover {
      transform: scale(1.05);
    }
  }
  &__link {
    display: block;
    margin-top: 42px;
  }
}

@media (max-width: 615px) {
  .brand {
    padding: 60px 30px;
  }
}
