.brand {
  margin: auto;
  padding: 78px 0 82px 0;
  min-height: 453px;
  background-image: url('img/main-backgroud.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
