$secondary-font-color: #ffffff;
$footer-background: #2d3e50;

.footer {
  padding: 38px 0 26px 0;
  background-color: $footer-background;
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__info {
    margin-right: auto;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    color: $secondary-font-color;
  }
}
